body{
    background-color: #424949 ;
  }
  
  @font-face {
    font-family: "NimbusSanLBol.otf";
    src: url(./assets/nimbus/NimbusSanL-Bol.otf);
  }
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url(./assets/AvenirNextLT/AvenirNextLTPro-Regular.otf);
  }
  @font-face {
    font-family: "NimbusSanLReg.otf";
    src: url(./assets/nimbus/NimbusSanLReg.otf);
  }
  
  @font-face {
    font-family: "AvenirNextLTProRegular.otf";
    src: url(./assets/AvenirNextLT/AvenirNextLTProRegular.otf);
  }
    .navbar{
    font-size: 30px;
    margin-top: 25px;
   position: absolute;
   right: 8%;
  }
  .navbar a {
    display: block;
    color: white;
    font-family: "NimbusSanLReg.otf";
    text-align: center;
    text-decoration: none;
  }
  .navbar a.active{
    color:#83288d ;
    font-family: "NimbusSanLReg.otf";
  }
  #right{
    float: right;
    margin-right: 130px;
  
  }
  #left{
  float: right;
  margin-left: 0px;
  
  }
  
  .filter {
    font-family: "NimbusSanLBol.otf";
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px #ffff66;
  }
  .studio{
    background-color:#007bab;
    width: 400rpx;
    height: 4000rpx;
    
    line-height: 4000rpx;
    text-align: center;
    /* height: 105px; */
  }
  .studio-button{
    position: fixed;
    border: 3px solid white;
    background-color:#007bab;
    width: 400rpx;
  height: 400rpx;
  margin-top: 180rpx;
  border-radius: 50%;
    -webkit-animation: studio 8s infinite;
    animation: studio 4s infinite;
  }
    @-webkit-keyframes studio {
      0% {
        top: 450px;
        right: 80px;
  
      
      }
      25% {
        top: 350px;
        right: 400px;
  
      }
      50% {
        top: 350px;
        right: 80px;
   
    
      }
      75% {
        top: 450px;
        right: 80px;
       
      
      }
      100% {
        top: 250px;
        right: 30px;
  
      
      }
    }
  
   
  .lab {
    width: 360rpx;
    height: 360rpx;
    line-height: 360rpx;
    text-align: center;
    background-color: #83288d;
    
    
  }
  
  .lab-button{
    border: 3px solid white;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 50%;   
    position: fixed;
    background-color: #83288d;
    
    -webkit-animation: lab 8s infinite;
    animation: lab 4s infinite;
  }
    @-webkit-keyframes lab {
      0% {
        top: 250px;
        left: 30px;
       
      
      }
      25% {
        top: 250px;
        left: 400px;
   
      }
      50% {
        top: 250px;
        left: 30px;
   
    
      }
      75% {
        top: 400px;
        left: 400px;
    
      
      }
      100% {
        top: 250px;
        left: 30px;

      
      }
    }
  
  

  .art-origin {
    font-size: 25px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
  }
  .art-origin.active{
    display: block;
  }
  .art-title{
    font-size: 70px;
  }
  

  .art-container {
    width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid wheat;
  border-radius: 25px;
  color: wheat;
  display: none;
}

  

  .filter {
    padding: 6rem;
    cursor: pointer;
    width: 100%;
    height: 400px;
  }
  
  
  
  